{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title_block %}
Change Password
{% endblock title_block %}


{% block body_block %}
<div class="container" style="width:60vw">
    {% if changed %}
    <div class="alert alert-success">
        Password Changed Successfully!
    </div>
    {% endif %}

    {{ form|crispy}}
    {% csrf_token %}
    <form method="POST">
        <button type="submit" class="btn btn-warning btn-sm">Change Password</button>
    </form>
</div>
{% endblock body_block %}